# task3

导入需要的库

In [1]:
import pandas as pd
import numpy as np
import tsfresh as tsf
from tsfresh import extract_features, select_features
from tsfresh.utilities.dataframe_functions import impute

读取训练集和测试集

In [2]:
data_train = pd.read_csv("train.csv")
data_test_A = pd.read_csv("testA.csv")
print(data_train.shape)
print(data_test_A.shape)
data_train

(100000, 3)
(20000, 2)

          id                                  heartbeat_signals  label
0          0  0.9912297987616655,0.9435330436439665,0.764677...    0.0
1          1  0.9714822034884503,0.9289687459588268,0.572932...    0.0
2          2  1.0,0.9591487564065292,0.7013782792997189,0.23...    2.0
3          3  0.9757952826275774,0.9340884687738161,0.659636...    0.0
4          4  0.0,0.055816398940721094,0.26129357194994196,0...    2.0
...      ...                                                ...    ...
99995  99995  1.0,0.677705342021188,0.22239242747868546,0.25...    0.0
99996  99996  0.9268571578157265,0.9063471198026871,0.636993...    2.0
99997  99997  0.9258351628306013,0.5873839035878395,0.633226...    3.0
99998  99998  1.0,0.9947621698382489,0.8297017704865509,0.45...    2.0
99999  99999  0.9259994004527861,0.916476635326053,0.4042900...    0.0

[100000 rows x 3 columns]

查看测试集

In [3]:
data_test_A

           id                                  heartbeat_signals
0      100000  0.9915713654170097,1.0,0.6318163407681274,0.13...
1      100001  0.6075533139615096,0.5417083883163654,0.340694...
2      100002  0.9752726292239277,0.6710965234906665,0.686758...
3      100003  0.9956348033996116,0.9170249621481004,0.521096...
4      100004  1.0,0.8879490481178918,0.745564725322326,0.531...
...       ...                                                ...
19995  119995  1.0,0.8330283177934747,0.6340472606311671,0.63...
19996  119996  1.0,0.8259705825857048,0.4521053488322387,0.08...
19997  119997  0.951744840752379,0.9162611283848351,0.6675251...
19998  119998  0.9276692903808186,0.6771898159607004,0.242906...
19999  119999  0.6653212231837624,0.527064114047737,0.5166625...

[20000 rows x 2 columns]

给测试集所有信号添加‘-1’标签

In [4]:
data_test_A['label']=-1
data_test_A

           id                                  heartbeat_signals  label
0      100000  0.9915713654170097,1.0,0.6318163407681274,0.13...     -1
1      100001  0.6075533139615096,0.5417083883163654,0.340694...     -1
2      100002  0.9752726292239277,0.6710965234906665,0.686758...     -1
3      100003  0.9956348033996116,0.9170249621481004,0.521096...     -1
4      100004  1.0,0.8879490481178918,0.745564725322326,0.531...     -1
...       ...                                                ...    ...
19995  119995  1.0,0.8330283177934747,0.6340472606311671,0.63...     -1
19996  119996  1.0,0.8259705825857048,0.4521053488322387,0.08...     -1
19997  119997  0.951744840752379,0.9162611283848351,0.6675251...     -1
19998  119998  0.9276692903808186,0.6771898159607004,0.242906...     -1
19999  119999  0.6653212231837624,0.527064114047737,0.5166625...     -1

[20000 rows x 3 columns]

将训练集和测试集合并

In [5]:
alldata=pd.concat([data_train,data_test_A], axis=0, join='outer', join_axes=None, ignore_index=False,
    keys=None, levels=None, names=None, verify_integrity=False)

In [6]:
alldata

           id                                  heartbeat_signals  label
0           0  0.9912297987616655,0.9435330436439665,0.764677...    0.0
1           1  0.9714822034884503,0.9289687459588268,0.572932...    0.0
2           2  1.0,0.9591487564065292,0.7013782792997189,0.23...    2.0
3           3  0.9757952826275774,0.9340884687738161,0.659636...    0.0
4           4  0.0,0.055816398940721094,0.26129357194994196,0...    2.0
...       ...                                                ...    ...
19995  119995  1.0,0.8330283177934747,0.6340472606311671,0.63...   -1.0
19996  119996  1.0,0.8259705825857048,0.4521053488322387,0.08...   -1.0
19997  119997  0.951744840752379,0.9162611283848351,0.6675251...   -1.0
19998  119998  0.9276692903808186,0.6771898159607004,0.242906...   -1.0
19999  119999  0.6653212231837624,0.527064114047737,0.5166625...   -1.0

[120000 rows x 3 columns]

重新编号

In [7]:
alldata=alldata.reset_index()

对心电特征进行行转列处理，同时为每个心电信号加入时间步特征time

In [8]:
train_heartbeat_df = alldata["heartbeat_signals"].str.split(",", expand=True).stack()
train_heartbeat_df = train_heartbeat_df.reset_index()
train_heartbeat_df = train_heartbeat_df.set_index("level_0")
train_heartbeat_df.index.name = None
train_heartbeat_df.rename(columns={"level_1":"time", 0:"heartbeat_signals"}, inplace=True)
train_heartbeat_df["heartbeat_signals"] = train_heartbeat_df["heartbeat_signals"].astype(float)

train_heartbeat_df

        time  heartbeat_signals
0          0           0.991230
0          1           0.943533
0          2           0.764677
0          3           0.618571
0          4           0.379632
...      ...                ...
119999   200           0.000000
119999   201           0.000000
119999   202           0.000000
119999   203           0.000000
119999   204           0.000000

[24600000 rows x 2 columns]

将处理后的心电特征加入到训练数据中，同时将训练数据label列单独存储

In [9]:
all_data_label=alldata['label']
alldata = alldata.drop("label", axis=1)
alldata = alldata.drop("heartbeat_signals", axis=1)
alldata = alldata.join(train_heartbeat_df)

alldata

        index      id  time  heartbeat_signals
0           0       0     0           0.991230
0           0       0     1           0.943533
0           0       0     2           0.764677
0           0       0     3           0.618571
0           0       0     4           0.379632
...       ...     ...   ...                ...
119999  19999  119999   200           0.000000
119999  19999  119999   201           0.000000
119999  19999  119999   202           0.000000
119999  19999  119999   203           0.000000
119999  19999  119999   204           0.000000

[24600000 rows x 4 columns]

删除原来的标签

In [10]:
alldata=alldata.drop('index',axis=1)

In [11]:
alldata

            id  time  heartbeat_signals
0            0     0           0.991230
0            0     1           0.943533
0            0     2           0.764677
0            0     3           0.618571
0            0     4           0.379632
...        ...   ...                ...
119999  119999   200           0.000000
119999  119999   201           0.000000
119999  119999   202           0.000000
119999  119999   203           0.000000
119999  119999   204           0.000000

[24600000 rows x 3 columns]

In [12]:
alldata[alldata["id"]==1]

    id  time  heartbeat_signals
1    1     0           0.971482
1    1     1           0.928969
1    1     2           0.572933
1    1     3           0.178457
1    1     4           0.122962
..  ..   ...                ...
1    1   200           0.000000
1    1   201           0.000000
1    1   202           0.000000
1    1   203           0.000000
1    1   204           0.000000

[205 rows x 3 columns]

特征提取

In [ ]:
from tsfresh import extract_features

# 特征提取
train_features = extract_features(alldata, column_id='id', column_sort='time')
train_features

Feature Extraction:   0%|          | 0/20 [00:00<?, ?it/s]